* {
    font-family: Inter;
    font-weight: 500;
}

.bi-star-fill {
    color: yellow;
}

.highlight {
    color: red;
}

.carousel-item {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.bg-img {
  position: absolute;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,16,1.0);
}

.foot-text {
    font-size: 10;
}

.foot-nav-title {
    margin-top: 60px;
}

.foot-socials {
    font-size: 50px;
}

.play-btn {
  background-color: red;
}

@media screen and (max-width: 700px) {
  .card:not(:first-child)
  {
    display: none;
  }
}

.carousel-indicators {
  transform: translateY(50%);
}

#unfinished .carousel-item, #foryou .carousel-item, #cinema .carousel-item, #tvseries .carousel-item {
  height: 420px;
}

.card {
  margin: 0 0.5em;
  width: calc(100%/4);
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  height: 420px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  overflow-y: hidden;
}

#play-title {
  color: red;
}

.card-title {
  background-color: red;
  font-size: 14px;
  word-wrap: break-word;
  border-radius: 5px;
  gap: 10px;
}

.card-text{
  font-size: 24px;
  line-height: 32px;
  word-wrap: break-word;
}

.filters-container {
  display: grid;
  grid-template-columns: repeat(4, auto); /* 5 columns */
  grid-template-rows: repeat(3, auto); /* 3 rows */
  gap: 8px;
}

.filter-item {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 5px;
}

#movieName, #cast, #keywords {
  border-radius: 5px;
}

.star-rating {
  display: inline-block;
}

input[type="radio"] {
  display: none;
}

.star-rating label {
  font-size: 30px;
  cursor: pointer;
}

.star-rating label:before {
  content: '\2605'; /* Unicode character for a star */
}

input[type="radio"]:checked ~ label:before {
  color: orange; /* Change color of filled stars */
}