<main>
  <div id="recommended" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" id="FNAF">
        <div class="overlay"></div>
        <img
          src="/src/static/resources/FNAF-horizontal.jpg"
          class="w-100 d-block bg-img"
          alt="First movie"
        />
        <div class="carousel-caption d-block">
          <h1 class="display-4 fw-bold">Five Nights at Freddy's</h1>
          <p class="fst-italic">
            A troubled security guard begins working at Freddy Fazbear's Pizza.
            During his first night on the job, he realizes that the night shift
            won't be so easy to get through. Pretty soon he will unveil what
            actually happened at Freddy's
          </p>
          <p class="fw-semibold">
            2023 |
            <span class="highlight">PG-13</span>
            | Cinematic Movie
          </p>
          <p class="fw-semibold fs-3">
            <i class="bi bi-star-fill"></i>
            IMDb Rating: 5.5/10 Genre:
            <span class="highlight fs-4 fst-italic">Action, Horror, Video Game</span>
          </p>
          <a
            name="playMovie"
            id=""
            class="btn p-3 mx-3 fw-bold play-btn text-white"
            href="#"
            role="button"
          ><i class="bi bi-play-fill"></i> Watch</a>
        </div>
      </div>
      <div class="carousel-item" id="PB">
        <div class="overlay"></div>
        <img
          src="/src/static/resources/PBlinders-horizontal.png"
          class="w-100 d-block bg-img"
          alt="Second movie"
        />
        <div class="carousel-caption d-block">
          <h1 class="display-4 fw-bold">Peaky Blinders</h1>
          <p class="fst-italic">
            A gangster family epic set in 1900s England, centering on a gang who
            sew razor blades in the peaks of their caps, and their fierce boss
            Tommy Shelby.
          </p>
          <p class="fw-semibold">
            2013-2022 |
            <span class="highlight">PG-16</span>
            | TV Series
          </p>
          <p class="fw-semibold fs-3">
            <i class="bi bi-star-fill"></i>
            IMDb Rating: 8.8/10 Genre:
            <span class="highlight fs-4 fst-italic">Crime, Drama</span>
          </p>
          <a
            name="playMovie"
            id=""
            class="btn p-3 mx-3 fw-bold play-btn text-white"
            href="#"
            role="button"
          ><i class="bi bi-play-fill"></i> Watch</a>
        </div>
      </div>
      <div class="carousel-item">
        <div class="overlay"></div>
        <img
          src="/src/static/resources/spiderman-horizontal.jpg"
          class="w-100 d-block bg-img"
          alt="Third movie"
        />
        <div class="carousel-caption d-block" id="SMNWH">
          <h1 class="display-4 fw-bold">Spider-Man: No Way Home</h1>
          <p class="fst-italic">
            With Spider-Man's identity now revealed, Peter asks Doctor Strange
            for help. When a spell goes wrong, dangerous foes from other worlds
            start to appear, forcing Peter to discover what it truly means to be
            Spider-Man.
          </p>
          <p class="fw-semibold">
            2021 |
            <span class="highlight">PG-13</span>
            | Cinematic Movie
          </p>
          <p class="fw-semibold fs-3">
            <i class="bi bi-star-fill"></i>
            IMDb Rating: 8.2/10 Genre:
            <span class="highlight fs-4 fst-italic">Action, Adventure, Fantasy</span>
          </p>
          <a
            name="playMovie"
            id=""
            class="btn p-3 mx-3 fw-bold play-btn text-white"
            href="#"
            role="button"
          ><i class="bi bi-play-fill"></i> Watch</a>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#recommended"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#recommended"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h2 class="text-white bg-dark px-5 py-3 mt-2 fw-lighter">
    <i class="bi bi-play-fill" id="play-title"></i>Unfinished Movies
  </h2>

  <div id="unfinished" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-bs-target="#unfinished"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="First slide"
      ></li>
      <li
        data-bs-target="#unfinished"
        data-bs-slide-to="1"
        aria-label="Second slide"
      ></li>
      <li
        data-bs-target="#unfinished"
        data-bs-slide-to="2"
        aria-label="Third slide"
      ></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="cards-wrapper d-flex bg-dark">
          <div class="card bg-black bg-opacity-50">
            <img
              src="/src/static/resources/FNAF-caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Horror
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Five Nights at Freddy's</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="/src/static/resources/PBlinders-caption.jpg"
              class="card-img-top w-100 h-100"
              alt="Peaky Blinders"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Crime/Action
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Peaky Blinders</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="/src/static/resources/TSTET-caption.jpg"
              class="card-img-top w-100 h-100"
              alt="Taylor Swift: The Eras Tour"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Musical/Story
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Taylor Swift The Eras Tour</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="/src/static/resources/spiderman-caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Spider-Man: No Way Home</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper d-flex bg-dark">
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/angels_and_demons_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Horror
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Angels and Demons</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/oppenheimer_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/History
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Oppenheimer</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/insidious_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Fantasy/Horror
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Insidious: The Red Door</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/marvels_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">The Marvels</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper d-flex bg-dark">
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/talk_to_me_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Horror
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Talk To Me</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/rick_and_morty_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Animated/TV Series
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Rick and Morty</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/breaking_bad_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Crime
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Breaking Bad</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/doctor_strange_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">
                Doctor Strange in The Multiverse Of Madness
              </p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#unfinished"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#unfinished"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h2 class="text-white bg-dark px-5 py-3 mt-2 fw-lighter">
    <i class="bi bi-play-fill" id="play-title"></i>For You
  </h2>

  <div id="foryou" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-bs-target="#foryou"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="First slide"
      ></li>
      <li
        data-bs-target="#foryou"
        data-bs-slide-to="1"
        aria-label="Second slide"
      ></li>
      <li
        data-bs-target="#foryou"
        data-bs-slide-to="2"
        aria-label="Third slide"
      ></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="cards-wrapper d-flex bg-dark">
          <div class="card bg-black bg-opacity-50">
            <img
              src="/src/static/resources/PBlinders-caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Crime
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Peaky Blinders</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/TWD_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Horror
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">The Walking Dead</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/the_unholy_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Horror/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">The Unholy</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/super_mario_captions.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Adventure/Animated
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">The Super Mario Bros Movie</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper d-flex bg-dark">
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/the_marksman_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Gore
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">The Marksman</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/marvels_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">The Marvels</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/the_conjuring_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Gore/Horror
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">
                The Conjuring: The Devil Made Me Do It
              </p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/the_exorcist_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Gore/Horror
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">The Exorcist: Believer</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper d-flex bg-dark">
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/venom_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Venom: Let There Be Carnage</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/rick_and_morty_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Animated/TV Series
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Rick and Morty</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/loki_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Fantasy/Action
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Loki</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/GOT_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Game Of Thrones</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#foryou"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#foryou"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h2 class="text-white bg-dark px-5 py-3 mt-2 fw-lighter">
    <i class="bi bi-play-fill" id="play-title"></i>Cinema
  </h2>

  <div id="cinema" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-bs-target="#cinema"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="First slide"
      ></li>
      <li
        data-bs-target="#cinema"
        data-bs-slide-to="1"
        aria-label="Second slide"
      ></li>
      <li
        data-bs-target="#cinema"
        data-bs-slide-to="2"
        aria-label="Third slide"
      ></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="cards-wrapper d-flex bg-dark">
          <div class="card bg-black bg-opacity-50">
            <img
              src="/src/static/resources/TSTET-caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Musical/Story
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Taylor Swift The Eras Tour</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/oppenheimer_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/History
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Oppenheimer</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/the_unholy_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Horror/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">The Unholy</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="/src/static/resources/FNAF-caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Adventure/Horror
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Five Nights At Freddy's</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper d-flex bg-dark">
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/venom_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Venom: Let There Be Carnage</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="/src/static/resources/spiderman-caption.jpg"
              class="card-img-top w-100 h-100"
              alt="Spiderman"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Spider-Man: No Way Home</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="/src/static/resources/talk_to_me_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="Talk To Me"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Fantasy/Horror
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Talk To Me</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/the_exorcist_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Gore/Horror
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">The Exorcist: Believer</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper d-flex bg-dark">
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/the_nun_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Horror/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">The Nun II</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/wonder_woman_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Wonder Woman</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/doctor_strange_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Fantasy/Action
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">
                Doctor Strange In The Multiverse Of Madness
              </p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/angels_and_demons_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Horror
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Angels and Demons</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#cinema"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#cinema"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h2 class="text-white bg-dark px-5 py-3 mt-2 fw-lighter">
    <i class="bi bi-play-fill" id="play-title"></i>TV Series
  </h2>

  <div id="tvseries" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li
        data-bs-target="#tvseries"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="First slide"
      ></li>
      <li
        data-bs-target="#tvseries"
        data-bs-slide-to="1"
        aria-label="Second slide"
      ></li>
      <li
        data-bs-target="#tvseries"
        data-bs-slide-to="2"
        aria-label="Third slide"
      ></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="cards-wrapper d-flex bg-dark">
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/breaking_bad_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Crime
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Breaking Bad</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/GOT_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Game Of Thrones</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/loki_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Loki</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/rick_and_morty_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Animated/TV Series
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Rick and Morty</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper d-flex bg-dark">
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/sex_education_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Story/TV Series
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Sex Education</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/ST_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Action/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Stranger Things</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/Supernatural_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Fantasy/Horror
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Supernatural</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/the_boys_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Gore/Action
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">The Boys</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="cards-wrapper d-flex bg-dark">
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/TWD_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                Horror/Action
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">The Walking Dead</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/AOT_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                TV Series/Fantasy
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Attack On Titan</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/the_good_doctor_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                TV Series/Medical
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">The Good Doctor</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
          <div class="card bg-black bg-opacity-50">
            <img
              src="../resources/young_sheldon_caption.jpg"
              class="card-img-top w-100 h-100"
              alt="FNAF"
            />
            <div class="card-body text-white text-center">
              <h5
                class="card-title d-inline-flex justify-content-start align-items-start ps-2 pe-2 pt-1 pb-1"
              >
                TV Series/Story
              </h5>
              <p class="d-block justify-content-start align-items-start">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i><i class="bi bi-star-fill"></i><i
                  class="bi bi-star-fill"
                ></i>
              </p>
              <p class="card-text w-100">Young Sheldon</p>
              <a
                name="playMovie"
                id=""
                class="btn p-3 fw-bold play-btn text-white"
                href="#"
                role="button"
              ><i class="bi bi-play-fill"></i> Watch</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#tvseries"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#tvseries"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Modal Body -->
  <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
  <div
    class="modal fade"
    id="searchModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalTitleId"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
      role="document"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-center fw-semibold" id="modalTitleId">
            What movies are you looking for?
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form action="" method="get" id="search">
            <input
              type="text"
              name="movieName"
              id="movieName"
              class="w-100 border-opacity-25 border-dark mb-3"
              placeholder="Search"
            />
            <div class="container-fluid d-grid">
              <div class="row">
                <div class="col-6 bg-white">
                  <div class="searches">
                    <p class="fw-semibold text-dark opacity-50">
                      Popular Searches:
                    </p>
                    <!--Note the em tag, the keyword that the user entered will be there-->
                    <a
                      class="search_results fw-bold text-dark opacity-75 text-decoration-none d-block"
                      href="#"
                    ><i class="bi bi-search"></i>
                      <em>The</em>
                      Haunting of Hill House - Horror/Classical</a>
                    <a
                      class="search_results fw-bold text-dark opacity-75 text-decoration-none d-block"
                      href="#"
                    ><i class="bi bi-search"></i>
                      <em>The</em>
                      Boys - TV Series/Gore</a>
                    <a
                      class="search_results fw-bold text-dark opacity-75 text-decoration-none d-block"
                      href="#"
                    ><i class="bi bi-search"></i>
                      <em>The</em>
                      Walking Dead - TV Series/Horror</a>
                    <a
                      class="search_results fw-bold text-dark opacity-75 text-decoration-none d-block"
                      href="#"
                    ><i class="bi bi-search"></i>
                      <em>The</em>
                      Exorcist: Believer - Horror/Gore</a>
                    <a
                      class="search_results fw-bold text-dark opacity-75 text-decoration-none d-block"
                      href="#"
                    ><i class="bi bi-search"></i>
                      <em>The</em>
                      Incredibles - Animated/Superhero</a>
                  </div>
                  <div class="filters">
                    <p class="fw-semibold text-dark opacity-50 mt-3">
                      Filters:
                    </p>
                    <div class="filters-container">
                      <div class="filter-item">
                        <input type="checkbox" id="tvSeries" name="tvSeries" />
                        <label for="tvSeries" class="fw-semibold">TV Series</label>
                      </div>
                      <div class="filter-item">
                        <input
                          type="checkbox"
                          id="cinematic"
                          name="cinematic"
                        />
                        <label
                          for="cinematic"
                          class="fw-semibold"
                        >Cinematic</label>
                      </div>
                      <!-- Add more checkbox items as needed -->
                      <div class="filter-item">
                        <input type="checkbox" id="action" name="action" />
                        <label for="action" class="fw-semibold">Action</label>
                      </div>
                      <div class="filter-item">
                        <input type="checkbox" id="animated" name="animated" />
                        <label
                          for="animated"
                          class="fw-semibold"
                        >Animated</label>
                      </div>
                      <div class="filter-item">
                        <input
                          type="checkbox"
                          id="adventure"
                          name="adventure"
                        />
                        <label
                          for="adventure"
                          class="fw-semibold"
                        >Adventure</label>
                      </div>
                      <div class="filter-item">
                        <input type="checkbox" id="comedy" name="comedy" />
                        <label for="comedy" class="fw-semibold">Comedy</label>
                      </div>
                      <div class="filter-item">
                        <input type="checkbox" id="drama" name="drama" />
                        <label for="drama" class="fw-semibold">Drama</label>
                      </div>
                      <div class="filter-item">
                        <input type="checkbox" id="fantasy" name="fantasy" />
                        <label for="fantasy" class="fw-semibold">Fantasy</label>
                      </div>
                      <div class="filter-item">
                        <input type="checkbox" id="horror" name="horror" />
                        <label for="horror" class="fw-semibold">Horror</label>
                      </div>
                      <div class="filter-item">
                        <input type="checkbox" id="mystery" name="mystery" />
                        <label for="mystery" class="fw-semibold">Mystery</label>
                      </div>
                      <div class="filter-item">
                        <input type="checkbox" id="romance" name="romance" />
                        <label for="romance" class="fw-semibold">Romance</label>
                      </div>
                      <div class="filter-item">
                        <input type="checkbox" id="thriller" name="thriller" />
                        <label
                          for="thriller"
                          class="fw-semibold"
                        >Thriller</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 bg-dark bg-opacity-25 text-center">
                  <div class="other-criterias">
                    <p class="fw-semibold text-dark opacity-75">
                      Other Criterias
                    </p>
                    <input
                      type="text"
                      name="cast"
                      id="cast"
                      class="w-100 border-opacity-25 border-dark mb-3"
                      placeholder="Actors/Actresses/Directors..."
                    />
                    <input
                      type="text"
                      name="keywords"
                      id="keywords"
                      class="w-100 border-opacity-25 border-dark my-3"
                      placeholder="Keywords, eg: Superhero..."
                    />
                    <p class="fw-semibold text-dark opacity-75">Ratings</p>
                    <div class="star-rating">
                      <input type="radio" id="star5" name="rating" value="5" />
                      <label for="star5"></label>
                      <input type="radio" id="star4" name="rating" value="4" />
                      <label for="star4"></label>
                      <input type="radio" id="star3" name="rating" value="3" />
                      <label for="star3"></label>
                      <input type="radio" id="star2" name="rating" value="2" />
                      <label for="star2"></label>
                      <input type="radio" id="star1" name="rating" value="1" />
                      <label for="star1"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="submit" class="btn btn-primary" form="search">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</main>