<div class="container">
  <header class="header">
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg">
      <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="#">
          <img src="/resources/logo2.png" alt="logo" width="200" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="registerBlock">
    <div class="paddingBlock">
      <div class="title">
        <h1>Sign In</h1>
      </div>

      <div class="inputs">
        <!-- Bootstrap Form -->
        <form action="/login" id="formSubmit" method="post">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              required
              placeholder="Email or phone number"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              required
              placeholder="Password"
            />
          </div>
          <div class="mb-3 form-check d-inline-block">
            <input
              type="checkbox"
              class="form-check-input h-75"
              name="rememberMe"
              id="rememberMe"
            />
            <label class="form-check-label pt-3" for="rememberMe">Remember me</label>
          </div>
          <div class="mb-3 d-inline-block" id="fp">
            <a
              href="/forgot"
              name="forgotPassword"
              class="btn btn-link text-white text-decoration-none"
            >Forgot Password?</a>
          </div>
          <div class="button text-center">
            <button type="submit" class="btn btn-danger" form="formSubmit">
              Sign In
            </button>
          </div>
        </form>
      </div>

      <div class="moreInfo">
        <div>
          <span class="isNew">New to Netflix?</span>
          <a
            href="/register"
            class="btn btn-link text-white text-decoration-none"
          >Sign up now.</a>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <!-- Bootstrap Footer -->
    <div class="block1">
      <span>Questions?</span>
      <span>Contact us.</span>
    </div>

    <div class="block2">
      <a href="#">FAQ</a>
      <a href="#">Help Center</a>
      <a href="#">Terms of Use</a>
      <a href="#">Privacy</a>
    </div>

    <div class="block3">
      <a href="#">Cookie Preferences</a>
      <a href="#">Corporate Information</a>
    </div>
  </footer>
</div>

<script src="/js/s_login.js"></script>