<div class="container">
  <header class="header">
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg">
      <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="/login">
          <img src="/resources/logo2.png" alt="logo" width="200" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="registerBlock2">
    <div class="paddingBlock">
      <div class="title text-center">
        <h1>Register</h1>
      </div>

      <div class="inputs">
        <!-- Bootstrap Form -->
        <form action="/register" id="formSubmit" method="POST">
          <label for="name">Enter your name here</label>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              required
              placeholder="E.g: Daniel Naroditsky"
            />
          </div>
          <label for="birthday">Enter your date of birth here</label>
          <div class="mb-3">
            <input
              type="date"
              class="form-control"
              name="birthday"
              id="birthday"
              required
            />
          </div>
          <label for="emailAddress">Email Address</label>
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              name="emailAddress"
              id="emailAddress"
              required
            />
          </div>
          <label for="username">Username</label>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              required
            />
          </div>
          <label for="password">Password</label>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              required
              placeholder="Your password should be 8-14 characters long"
            />
          </div>
          <label for="confirmPassword">Confirm Password</label>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              id="confirmPassword"
              required
              placeholder="Re-enter your password"
            />
          </div>
          <div class="button text-center">
            <button id="submitBtn" type="submit" class="btn btn-danger" form="formSubmit">
              Sign Up
            </button>
          </div>
        </form>
      </div>

      <div class="moreInfo">
        <div>
          <span class="isNew text-white">Already have an account?</span>
          <a
            href="#"
            class="btn btn-link text-white text-decoration-none"
          >Sign in now.</a>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <!-- Bootstrap Footer -->
    <div class="block1">
      <span>Questions?</span>
      <span>Contact us.</span>
    </div>

    <div class="block2">
      <a href="#">FAQ</a>
      <a href="#">Help Center</a>
      <a href="#">Terms of Use</a>
      <a href="#">Privacy</a>
    </div>

    <div class="block3">
      <a href="#">Cookie Preferences</a>
      <a href="#">Corporate Information</a>
    </div>
  </footer>
</div>

<!-- Include SweetAlert2 from CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script defer src="/js/s_register.js">
</script>