<html lang="en">
  <head>
    <title>Welcome to NETFLEX</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <!-- Bootstrap icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />

    <!-- Local CSS sheet-->
    <link rel="stylesheet" href="/styles/index.css" />
  </head>

  <body>
    <header class="container-fluid bg-dark border-bottom">
      <nav class="navbar navbar-expand-sm navbar-dark container p-0">
        <div class="container">
          <a class="navbar-brand p-0 h-25 w-25" href="/"><img
              src="/resources/logo.png"
              class="img-fluid rounded-top w-50 h-50"
              id="homeIcon"
              alt="Welcome to NETLFEX"
            /></a>
          <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item m-2">
                <a class="nav-link active" href="#" aria-current="page">Home
                  <span class="visually-hidden">(current)</span></a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link" href="#">Movies</a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link" href="#">TV Shows</a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link" href="#">My Playlist</a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link" href="#"><i
                    class="bi bi-search"
                    data-bs-toggle="modal"
                    data-bs-target="#searchModal"
                  ></i></a>
              </li>
              <li class="nav-item dropdown m-2">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="dropdownId"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                ><i class="bi bi-person px-2"></i>Welcome back, {{user.username}}</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                  <a class="dropdown-item" href="#">Manage Account</a>
                  <a class="dropdown-item" href="#">Subscription Plans</a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {{{body}}}

    <footer>
      <!-- place footer here -->
      <div class="container-fluid bg-dark text-white">
        <div class="container p-0">
          <div class="row">
            <div class="col col-6 h-100 mx-3">
              <a class="navbar-brand" href="#"><img
                  src="/resources/logo.png"
                  class="img-fluid rounded-top w-25 h-25"
                  id="homeIcon"
                  alt="Welcome to NETLFEX"
                /></a>
              <p class="fw-semibold mx-2 foot-text">
                Netflex aims to offer a wide range of movies to all you movie
                lovers out there who wants to catch up with a favourite series
                or to simply end their day with a blockbuster. Are you a
                student? Currently working? No matter what your occupation is,
                we got you! Start your movie experience free or sign up for a
                subscription pack suitable for you today!
              </p>
            </div>
            <div class="col col-auto h-100 mx-3">
              <p class="fw-semibold text-white foot-nav-title">Pages</p>
              <ul>
                <li>
                  <a
                    href="#"
                    class="text-decoration-none text-white fw-semibold"
                  >Home</a>
                </li>
                <li>
                  <a
                    href="#"
                    class="text-decoration-none text-white fw-semibold"
                  >Top-Rated Movies</a>
                </li>
                <li>
                  <a
                    href="#"
                    class="text-decoration-none text-white fw-semibold"
                  >Currently Trending</a>
                </li>
                <li>
                  <a
                    href="#"
                    class="text-decoration-none text-white fw-semibold"
                  >Movies</a>
                </li>
                <li>
                  <a
                    href="#"
                    class="text-decoration-none text-white fw-semibold"
                  >TV Series</a>
                </li>
              </ul>
            </div>
            <div class="col col-auto h-100 mx-3">
              <div class="container-fluid d-grid">
                <p class="fw-semibold text-white foot-nav-title">
                  Connect with Us
                </p>
                <div class="container p-0">
                  <div class="row">
                    <div class="col col-auto h-100">
                      <a title="telegram" href="#"><i
                          class="bi bi-telegram text-white foot-socials mr-3"
                        ></i></a>
                      <a title="instagram" href="#"><i
                          class="bi bi-instagram text-white foot-socials m-3"
                        ></i></a>
                    </div>
                    <div class="col col-auto h-100">
                      <a title="facebook" href="#"><i
                          class="bi bi-facebook text-white foot-socials mr-3"
                        ></i></a>
                      <a title="youtube" href="#"><i
                          class="bi bi-youtube text-white foot-socials m-3"
                        ></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid text-white text-center bg-dark fw-bold py-1">
        &copy Netflex.com - 2023
      </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>

    <!-- Script of the modal -->
    <script>
      const myModal = new bootstrap.Modal(
      document.getElementById("searchModal"), options );
    </script>

    <script src="/js/s_index.js"></script>
  </body>
</html>